## editors
/.idea
/.vscode

## system files
.DS_Store

# code coverage folders
coverage/

## npm
node_modules
npm-debug.log

## lerna
lerna-debug.log

## temp folders
/.tmp/

# build hp
/_site/

## build output
/dist
/build-stats.json
/lambda
